body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f5f5f5;
  }
  #final-div {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  header .logo {
    height: 50px;
    width: auto;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav li {
    margin-right: 20px;
  }
  
  header nav a {
    color: #333;
    text-decoration: none;
  }
  
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-image: url('https://images.squarespace-cdn.com/content/v1/63aa722d8498ea16752e56a8/fa6a5924-36cc-4ab5-b213-4beb512b45e6/IMG_0918.JPG');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
  }
  
  .hero-content {
    max-width: 600px;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .hero .cta-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-size: 18px;

    justify-content: center;
    align-items: center;
    text-align: center;
    
    transition: background-color 0.2s ease-in-out;
  }
  
  .hero .cta-btn:hover {
    background-color: #3e8e41;
  }
  
  .station-selection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .station-selection label {
    display: block;
    margin-bottom: 10px;
  }
  
  .station-selection select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .station-selection button {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.2s ease-in-out;}
  
  .station-selection button:hover {
    background-color: #3e8e41;
  }
  
  .source-station-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .source-station-info .station-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  

  
  .source-station-info .book-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
  }
  
  .source-station-info .book-btn:hover {
    background-color: #3e8e41;
  }
  
  .balance {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .balance p {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .balance .recharge-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .balance .recharge-btn:hover {
    background-color: #3e8e41;
  }

  .button-selected {
    background-color: #4CAF50; /* Green */
  }

  /* Hide the radio button but keep label clickable */
/* Custom Radio Button Styles */
.custom-radio {
  opacity: 0;
  position: absolute;
}

.radio-label {
  position: relative;
  padding-left: 35px; /* Adjusted space for custom radio button */
  cursor: pointer;
  display: inline-block;
  color: #333; /* Text color to match the theme */
  line-height: 25px; /* Ensuring proper alignment */
}

.radio-label:before, .radio-label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.radio-label:before {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #4CAF50; /* Border color to match button styles */
}

.radio-label:after {
  width: 22px;
  height: 22px;
  background-color: #4CAF50;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-radio:checked + .radio-label:after {
  opacity: 1; /* Show the inner circle when checked */
}
  
.distance-info {
  background-color: #f0f0f0; /* Light grey background */
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 8px; /* Rounded corners */
  padding: 10px; /* Padding inside the div */
  margin-top: 20px; /* Space above the div */
  font-size: 16px; /* Text size */
  color: #333; /* Dark grey text */
}
.button-link {
  background: none;
  color: blue;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
}